// FUTURE BOX CONTAINER

.feature-row {
    padding-bottom: 60px;
}
// FUTURE BOX

.feature-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    width: 330px;
    height: 228px;
    @include screen(sm) {
        width: 100%;
        height: 300px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    @include screen(xs) {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        margin-top: 40px;
        color: #2d3236;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.4px;
        @include screen(sm){
            font-size: 35px;
            text-align: center;
        }
    }

    p {
        // width: 80%;
        color: #808080;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;  
        text-align: center;
        @include screen(sm){
            font-size: 30px;
        }

    }

    img {
        width: 10%;
        @include screen(sm){
            width: 20%;
        };
        @include screen(md){
            width: 15%;
        };
    }
}