.title-feature {
    padding-top: 60px;
    margin-bottom: 45px;
    text-align: center;
    color: white;

    h2 {
        font-size: 40px;
        letter-spacing: -0.8px;
        line-height: 52px;
        @include screen(sm){
            font-size: 55px;
        }
    }

    p {
        font-size: 20px;
        opacity: 0.6;
        line-height: 32px;
        @include screen(sm){
            font-size: 30px;
        }
    }
}